@import 'home.scss';
@import 'questions.scss';
@import 'results.scss';

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #eee;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.005em;
}
